/* ProgressBox.css */

.progress-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 40px;
  position: relative;
  background-color: lightgray;
  border-radius: 2px;
  border: solid 1px gray;
  overflow: hidden;
}

.goal-line {
  position: absolute;
  height: 100%;
  border-right: 1px solid black;
  border-left: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goal-line span {
  font-weight: bold;
  font-size: 0.6rem;
}

.progress {
  position: absolute;
  left: 0;
  height: 100%;
  background-color: rgb(107, 135, 245);
}

.exceeded {
  background-color: rgba(0, 0, 0, 0.2);
}

.green {
  background-color: rgb(92, 226, 62);
}

.info-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 1.5rem;
}

.info-col h4 {
  justify-content: center;
  align-items: center;
}
