/* Base Layout */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Input Section */
.input-container {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 1rem;
  margin-top: 2rem;
  font-weight: bold; /* Consider using a class for styling text instead */
}

.input-container input {
  background: rgb(0, 0, 0, 0);
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.2rem;
  height: 1rem;
  margin-right: 5px;
  font-size: 0.75rem;
  font-family: courier;
  font-weight: bold;
}

.long-input {
  width: 50%;
}

.short-input {
  width: 20%;
}

.add-item-btn {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 0.1rem;
  border: none;
  margin-left: 1rem;
}
