@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
  --background-col: gray;
  --header-col: rgb(128, 119, 103);
  --navbar-link-col: #fff;
  --text-col: #fff;
  --dashboard-col: rgb(217, 206, 192);
  --list-item-odd-col: rgb(236, 236, 236);
  --list-item-even-col: rgb(197, 197, 197);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: courier, 'Nunito', sans-serif;
  font-size: 22px;
  color: var(--text-col);
}

body {
  min-height: 100vh;
  background-color: var(--background-col);
}
